@model Product

@*Edit category form*@
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">Delete Product</h2>
            <hr/>
        </div>
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All"></div>
        <div class="row mb-3">
            <label asp-for="Name">Product Name</label>
            <input disabled asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Description">Description</label>
            <input disabled asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Price">Peice</label>
            <input disabled asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="CategoryId">CategoryId</label>
            <input disabled asp-for="CategoryId" class="form-control" />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </div>
</form>

@*Add script for client side error handling*@
@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}